.banner{ 
    width: 100%;

    img{
      object-fit: cover;
      width: 100%;
      max-height: 400px; 
    }
      
}

.header{
    margin-top: 2rem;
    margin-bottom: 3rem;

    h1{
        font-size: 48px;
    }

    section{
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 23rem;
        color: var(--body);
        margin-bottom: 1rem;
    }
}

.contentBody{

    text-align: justify;

    h1{
        margin-bottom: 2rem;
        color: var(--heading);
        font-size: 36px;
        line-height: 140%;
    }

    p{
        font-size: 18px;
        margin-bottom: 2rem;
        color: var(--body);
        line-height: 140%;
    }
}

.navigation{
    border-top: 1px solid var(--body);
    max-width: 1050px !important;
    position: relative;
    margin: 0 auto;
    padding: 2rem;    
    margin-bottom: 2rem;
    margin-top: 3rem;

    a {
        display: flex;
        flex-direction: column;
      }

    .next{
        position: absolute;
        right: 0;
        span{
            text-align: right;
            color: var(--highlight);
            font-weight: 600;
        }
    }

    .prev{
        position: absolute;
        left: 0;

        span{
            color: var(--highlight);
            font-weight: 600;
        }
    }
}

.editDate{
    color: var(--body);
    font-style: italic;
}