.banner{ 
    width: 100%;

    img{
      object-fit: cover;
      width: 100%;
      max-height: 400px; 
    }
      
}

.header{
    margin-top: 2rem;
    margin-bottom: 4rem;

    h1{
        font-size: 48px;
    }

    section{
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 23rem;
        color: var(--body);
    }

}

.contentBody{

    text-align: justify;

    h1{
        margin-bottom: 2rem;
        color: var(--heading);
        font-size: 36px;
        line-height: 140%;
    }

    p{
        font-size: 18px;
        margin-bottom: 2rem;
        color: var(--body);
        line-height: 140%;
    }
}